head {

}
main {
margin: auto;
padding: 50px;

}

footer {
    margin: auto;
    text-align: center;

}

.post {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-transform: uppercase;
    margin: auto;
    padding: 20px;
}